body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

button{
  display: block;
  background-color: #1976d2;
  padding: 10px;
  color: whitesmoke;
  font-weight: bold;
  border: solid transparent 1px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

figure{
  margin: 0 auto;
  width: 90%;
}

figcaption{
  text-align: center;
}

img{
  display: block;
  max-width: 100%;
  width: fit-content;
  height: auto;
  margin: 0 auto;

  border-radius: 10px;
}

div{
  overflow: auto;
}